ID=##ID## RATING=##RATING## RENTAL_RATE=##RENTAL_RATE## REPLACEMENT_COST=##REPLACEMENT_COST##
ID=##ID## RATING=##RATING## RENTAL_RATE=##RENTAL_RATE## REPLACEMENT_COST=##REPLACEMENT_COST##
ID=##ID## RATING=##RATING## RENTAL_RATE=##RENTAL_RATE## REPLACEMENT_COST=##REPLACEMENT_COST##
ID=##ID## RATING=##RATING## RENTAL_RATE=##RENTAL_RATE## REPLACEMENT_COST=##REPLACEMENT_COST##
ID=##ID## RATING=##RATING## RENTAL_RATE=##RENTAL_RATE## REPLACEMENT_COST=##REPLACEMENT_COST##
ID=##ID## RATING=##RATING## RENTAL_RATE=##RENTAL_RATE## REPLACEMENT_COST=##REPLACEMENT_COST##
ID=##ID## RATING=##RATING## RENTAL_RATE=##RENTAL_RATE## REPLACEMENT_COST=##REPLACEMENT_COST##
ID=##ID## RATING=##RATING## RENTAL_RATE=##RENTAL_RATE## REPLACEMENT_COST=##REPLACEMENT_COST##
ID=##ID## RATING=##RATING## RENTAL_RATE=##RENTAL_RATE## REPLACEMENT_COST=##REPLACEMENT_COST##
ID=##ID## RATING=##RATING## RENTAL_RATE=##RENTAL_RATE## REPLACEMENT_COST=##REPLACEMENT_COST##